<form
  class="login-page__form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h1 class="login-page__title mb60">Вход</h1>

  <div class="control mb16">
    <label
      class="control__label control__label--bold"
      for="username"
    >
      Telegram username
    </label>

    <div class="control__wrapper">
      <input
        class="control__input"
        id="username"
        type="text"
        formControlName="username"
        autocomplete="username"
        placeholder="Введите логин"
      />

      <svg
        class="control__icon"
        icon="telegram"
      ></svg>
    </div>
  </div>

  <div class="control mb32">
    <label
      class="control__label control__label--bold"
      for="current-password"
    >
      Пароль
    </label>

    <div class="control__wrapper">
      <input
        class="control__input"
        id="current-password"
        [type]="isPasswordVisible() ? 'text' : 'password'"
        formControlName="password"
        autocomplete="current-password"
        placeholder="Введите пароль"
      />

      <button
        class="control__button"
        [class.control__button--active]="isPasswordVisible()"
        type="button"
        [title]="isPasswordVisible() ? 'Скрыть пароль' : 'Показать пароль'"
        (click)="togglePasswordVisible()"
      >
        <svg icon="eye"></svg>
      </button>
    </div>
  </div>

  <button
    class="btn"
    type="submit"
  >
    Войти
  </button>
</form>

<img
  class="login-page__logo"
  src="/assets/svg/logo-big.svg"
  width="440"
  height="432"
  alt="Логотип Tik-Talk"
/>
