<app-avatar class="size32" />

<label class="control">
  <span class="visually-hidden">{{ isComment ? 'Текст комментария' : 'Текст поста' }}</span>
  <textarea
    class="post-input__textarea control__input control__input--without-border"
    [placeholder]="isComment ? 'Напишите комментарий' : 'Напишите что-нибудь'"
    rows="1"
    (input)="onTextInput($event)"
  ></textarea>
</label>

<div class="post-input__buttons">
  <button
    class="btn btn--icon"
    type="button"
    title="Отправить"
  >
    <svg
      class="size16"
      icon="send"
    ></svg>
    <span class="visually-hidden">Отправить</span>
  </button>
</div>
