:host {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 12px;
  align-items: center;
  padding: 16px;
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  border-radius: 2px;

  &.comment {
    border-style: dashed;
  }
}

.post-input__buttons {
  display: flex;
  align-items: center;
  gap: 4px;
}
