@if (profile(); as profile) {
  <app-avatar
    class="size32"
    [avatarUrl]="profile.avatarUrl"
    [avatarAlt]="profile.username"
  />
}

<label class="control">
  <span class="visually-hidden">{{ isComment ? 'Текст комментария' : 'Текст поста' }}</span>
  <textarea
    class="post-input__textarea control__input control__input--without-border"
    rows="1"
    [placeholder]="isComment ? 'Напишите комментарий' : 'Напишите что-нибудь'"
    [(ngModel)]="inputText"
    (input)="onTextInput($event)"
  ></textarea>
</label>

<div class="post-input__buttons">
  <button
    class="btn btn--icon"
    type="button"
    title="Отправить"
    (click)="onCreate()"
  >
    <svg
      class="size16"
      icon="send"
    ></svg>
    <span class="visually-hidden">Отправить</span>
  </button>
</div>
