:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chat-messages-list__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
  padding-right: 16px;
  padding-left: 16px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: hsla(263, 100%, 74%, 1) hsla(0, 0%, 9%, 1);
  scrollbar-gutter: stable;
}

.chat-messages-list__group-messages-date {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 6px 30px;
  color: var(--light-color);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  background-color: var(--dark-active-color);
}

.chat-messages-list__input {
  margin: 0 20px 16px;
}
