:host {
  display: block;
  padding-right: 4px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: hsla(263, 100%, 74%, 1) hsla(0, 0%, 9%, 1);
  overscroll-behavior: contain;
}

.post-feed__input {
  margin-bottom: 16px;
}

.post-feed__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
