:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 12px;
  align-items: center;
  padding: 8px 0;
}

.subscriber-card__name {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
