<article class="profile-card">
  <div class="profile-card__user">
    <img
      class="profile-card__avatar"
      [src]="profile.avatarUrl | avatarUrl"
      [alt]="profile.username"
    />
    <h3 class="profile-card__name">{{ profile.firstName }} {{ profile.lastName }}</h3>
    <p class="profile-card__username">{{ profile.username }}</p>
  </div>

  <p>{{ profile.description }}</p>

  <div class="profile-card__container">
    @if (profile.stack.length > 0) {
      <ul class="profile-card__skills">
        @for (skill of profile.stack; track skill) {
          <li>
            <span class="skill-tag">{{ skill }}</span>
          </li>
        }
      </ul>
    }

    <div class="profile-card__actions">
      <button
        class="btn"
        type="button"
      >
        Подписаться
      </button>
    </div>
  </div>
</article>
