<header class="sidebar__header">
  <img
    class="sidebar__logo"
    src="/assets/svg/logo-small.svg"
    alt="Tik-talk"
  />

  <nav>
    <ul class="sidebar__menu">
      @for (menuItem of menu; track menuItem.name) {
        <li>
          <a
            class="sidebar__menu-link"
            routerLinkActive="sidebar__menu-link--active"
            [routerLink]="menuItem.link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <svg
              class="size16"
              [icon]="menuItem.icon"
            ></svg>
            <span>{{ menuItem.name }}</span>
          </a>
        </li>
      }
    </ul>
  </nav>

  <article class="sidebar__subscribers">
    <h3 class="sidebar__subscribers-title mb20">Подписчики</h3>

    <ul class="sidebar__subscribers-list mb20">
      @for (subscriber of subscribers$ | async; track subscriber.id) {
        <li>
          <app-subscriber-card [profile]="subscriber" />
        </li>
      }
    </ul>

    <a
      class="sidebar__subscribers-all-link"
      [routerLink]="['/', 'subscribers']"
    >
      <span>Все подписчики</span>
      <svg
        class="size16"
        icon="arrow"
      ></svg>
    </a>
  </article>
</header>

@if (me(); as me) {
  <footer class="sidebar__footer">
    <app-avatar
      class="size32"
      [avatarUrl]="me.avatarUrl"
      [avatarAlt]="me.username"
    />

    <p class="sidebar__me-name">{{ me.username }}</p>

    <a
      class="sidebar__settings-link"
      [routerLink]="['/', 'settings']"
      title="Настройки"
    >
      <svg
        class="size16 sidebar__settings-icon"
        icon="settings"
      ></svg>
    </a>
  </footer>
}
