:host{
  display: block;
  width: var(--avatar-size, 72px);
  height: var(--avatar-size, 72px);
  flex-shrink: 0;

  &.size32 {
    --avatar-size: 32px;
  }

  &.size36 {
    --avatar-size: 36px;
  }

  &.size72 {
    --avatar-size: 72px;
  }

  &.size112 {
    --avatar-size: 112px;
  }

  &.size140 {
    --avatar-size: 140px;
  }
}

.avatar {
  display: block;
  width: var(--avatar-size, 72px);
  height: var(--avatar-size, 72px);
  aspect-ratio: 1;
  border-radius: 50%;
}
