<img
  class="sidebar__logo"
  src="/assets/svg/logo-small.svg"
  alt="Tik-talk"
/>

<ul class="sidebar__menu">
  @for(menuItem of menu; track menuItem.name) {
    <li class="sidebar__menu-item">
      <a
        class="sidebar__menu-link"
        routerLinkActive="sidebar__menu-link--active"
        [routerLink]="menuItem.link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <svg [icon]="menuItem.icon"></svg>
        <span>{{ ('T_MENU.' + menuItem.name) | translate }}</span>
      </a>
    </li>
  }
</ul>
