:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--dark-color);
}

.sidebar__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar__logo {
  display: block;
  width: 60px;
  margin-right: 28px;
  margin-left: 28px;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 12px;
}

.sidebar__menu-link {
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  color: var(--light-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 2px;

  &--active {
    color: var(--primary-color);
    background-color: var(--dark-active-color);
  }

  &:hover {
    color: var(--primary-color);
    background-color: var(--dark-active-color);
  }

  &:focus-visible {
    color: var(--primary-color);
    background-color: var(--dark-active-color);
    outline: 2px solid var(--primary-color);
  }
}

.sidebar__menu-icon {
  width: 16px;
  height: 16px;
}

.sidebar__subscribers {
  padding-right: 28px;
  padding-left: 28px;
}

.sidebar__subscribers-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.sidebar__subscribers-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar__subscribers-all-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 2px;

  &:hover {
    color: var(--light-color);
  }

  &:focus-visible {
    color: var(--light-color);
    outline: 2px solid var(--primary-color);
  }
}

.sidebar__subscribers-all-link-icon {
  width: 16px;
  height: 16px;
}

.sidebar__footer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: auto 12px 0;
  padding: 4px 16px;
  background-color: var(--dark-active-color);
  border-radius: 2px;
}

.sidebar__me-avatar {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar__me-name {
  flex-grow: 1;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: var(--primary-color);
}

.sidebar__settings-link {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 4px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;

  &:focus-visible {
    outline: 2px solid var(--primary-color);
  }
}

.sidebar__settings-icon {
  width: 16px;
  height: 16px;
  color: var(--primary-color);
}
