<form
  [formGroup]="form"
  class="reactive-form"
  (ngSubmit)="onSubmit()"
>
  <h1 class="reactive-form__title">Информация о доставке</h1>

  <label class="control">
    <span class="control__label">Тип получателя</span>

    <select
      class="control__input"
      formControlName="type"
    >
      <option [value]="RecipientType.PRIVATE">Физическое лицо</option>
      <option [value]="RecipientType.LEGAL">Юридическое лицо</option>
    </select>
  </label>

  <label class="control">
    <span class="control__label">Имя</span>

    <input
      class="control__input"
      type="text"
      placeholder="Введите имя"
      formControlName="name"
    />
  </label>

  @if (form.controls.type.value === RecipientType.PRIVATE) {
    <label class="control">
      <span class="control__label">Фамилия</span>

      <input
        class="control__input"
        type="text"
        placeholder="Введите фамилию"
        formControlName="secondName"
      />

      @if (form.controls.secondName.getError('required') && form.controls.secondName.touched) {
        <p>Это поле обязательно!</p>
      }
    </label>

  } @else {
    <label class="control">
      <span class="control__label">ИНН</span>

      <input
        class="control__input"
        type="text"
        placeholder="Введите ИНН"
        formControlName="inn"
      />
      @if (form.controls.inn.getError('required') && form.controls.inn.touched) {
        <p>Это поле обязательно!</p>
      }
    </label>
  }

  <fieldset
    class="reactive-form__fieldset"
    formGroupName="address"
  >
    <div class="reactive-form__fieldset-container">
      <legend class="reactive-form__fieldset-title">Адрес доставки</legend>

      <label class="control">
        <span class="control__label">Город</span>

        <input
          class="control__input"
          type="text"
          placeholder="Город"
          formControlName="city"
        />
      </label>

      <label class="control">
        <span class="control__label">Улица</span>

        <input
          class="control__input"
          type="text"
          placeholder="Улица"
          formControlName="street"
        />
      </label>

      <label class="control">
        <span class="control__label">Дом</span>

        <input
          class="control__input"
          type="number"
          placeholder="Дом"
          formControlName="building"
        />
      </label>

      <label class="control">
        <span class="control__label">Квартира</span>

        <input
          class="control__input"
          type="number"
          placeholder="Кваритра"
          formControlName="apartment"
        />
      </label>
    </div>
  </fieldset>

  <button
    class="btn"
    type="button"
    (click)="onPatch()"
  >
    Patch
  </button>


  <button
    class="btn"
    type="button"
    (click)="onSetAddressValue()"
  >
    SetValue
  </button>

  <button
    class="btn"
    type="button"
    (click)="onReset()"
  >
    Reset
  </button>

  <button
    class="btn"
    type="submit"
  >
    Submit
  </button>
</form>
