:host {
  display: grid;
  grid-template-columns: 1fr 340px;
  grid-template-areas:
    "header edit-button"
    "feed info";
  row-gap: 64px;
}

.profile-page__header {
  container-name: profile-header;
  container-type: inline-size;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.profile-page__edit-btn {
  grid-area: edit-button;
  align-self: center;
  justify-self: start;
  margin-left: 24px;
}

.profile-page__edit-icon {
  width: 16px;
  height: 16px;
}

.profile-page__feed {
  grid-area: feed;
}

.profile-page__info-wrapper {
  grid-area: info;
  padding-right: 24px;
  padding-left: 24px;
}

.profile-page__info {
  &:not(:last-of-type) {
    margin-bottom: 32px;
  }
}

.profile-page__info-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.profile-page__subscribers-count {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
  color: var(--dark-color);
  font-weight: 700;
  background-color: var(--primary-green-color);
}

.profile-page__subscribers-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.profile-page__subscribers {
  display: flex;
  align-items: center;
  gap: 6px;
}

.profile-page__subscriber-link {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;

  &:hover,
  &:focus-visible {
    outline: 4px solid var(--primary-color);
  }
}

.profile-page__subscriber-avatar {
  display: block;
  width: 36px;
  height: 36px;
}

.profile-page__add-subscriber-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;

  &:hover,
  &:focus-visible {
    outline: 4px solid var(--primary-color);
  }
}

.profile-page__add-subscriber-icon {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--light-color);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 2px;
    height: 8px;
    background-color: var(--dark-color);
  }

  &::before {
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
  }

  &::after {
    transform: translateX(-50%) translateY(-50%);
  }
}

.profile-page__skills {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 200px;
}
