:host {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100dvh;
}

.layout__sidebar {
  min-height: 400px;
}

.layout__content {
  min-width: 400px;
  min-height: 400px;
  padding: 24px;
  overflow-y: auto;
}
