<form
  class="login-page__form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h1 class="h1 mb60">{{ 'T_LOGIN_PAGE.TITLE' | translate }}</h1>

  <label class="control-label mb16">
    <span>{{ 'T_LOGIN_PAGE.FORM.LOGIN.LABEL' | translate }}</span>

    <input
      class="control-input"
      type="text"
      formControlName="username"
      autocomplete="username"
      [placeholder]="'T_LOGIN_PAGE.FORM.LOGIN.PLACEHOLDER' | translate"
    >
  </label>

  <label class="control-label mb32">
    <span>{{ 'T_LOGIN_PAGE.FORM.PASSWORD.LABEL' | translate }}</span>

    <input
      class="control-input"
      type="password"
      formControlName="password"
      autocomplete="current-password"
      [placeholder]="'T_LOGIN_PAGE.FORM.PASSWORD.PLACEHOLDER' | translate"
    >
  </label>

  <button class="btn" type="submit">{{ 'T_ACTION.LOGIN' | translate }}</button>
</form>

<img
  class="login-page__logo"
  src="/assets/svg/logo-big.svg"
  width="440"
  height="432"
  [alt]="'T_LOGIN_PAGE.LOGO' | translate"
>
