:host {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 120px;
  min-height: 100dvh;
  padding: 60px;
}

.login-page__form {
  display: flex;
  flex-direction: column;
  width: 440px;
}

.login-page__title {
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
}

.login-page__logo {
  display: block;
  width: 440px;
  height: 432px;
}
