<form
  class="login-page__form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h1 class="h1 mb60">{{ 'T_LOGIN_PAGE.TITLE' | translate }}</h1>

  <div class="control mb16">
    <label
      class="control__label"
      for="username"
    >
      {{ 'T_LOGIN_PAGE.FORM.LOGIN.LABEL' | translate }}
    </label>

    <div class="control__wrapper">
      <input
        class="control__input"
        id="username"
        type="text"
        formControlName="username"
        autocomplete="username"
        [placeholder]="'T_LOGIN_PAGE.FORM.LOGIN.PLACEHOLDER' | translate"
      />

      <svg
        class="control__icon svg-icon"
        width="20"
        height="20"
        aria-hidden="true"
      >
        <use href="/assets/svg/icons.svg#telegram" />
      </svg>
    </div>
  </div>

  <div class="control mb32">
    <label
      class="control__label"
      for="current-password"
    >
      {{ 'T_LOGIN_PAGE.FORM.PASSWORD.LABEL' | translate }}
    </label>

    <div class="control__wrapper">
      <input
        class="control__input"
        id="current-password"
        [type]="isPasswordVisible() ? 'text' : 'password'"
        formControlName="password"
        autocomplete="current-password"
        [placeholder]="'T_LOGIN_PAGE.FORM.PASSWORD.PLACEHOLDER' | translate"
      />

      <button
        class="control__button"
        [class.control__button--active]="isPasswordVisible()"
        type="button"
        [title]="'T_LOGIN_PAGE.FORM.PASSWORD.' + (isPasswordVisible() ? 'HIDE_PASSWORD' : 'SHOW_PASSWORD') | translate"
        (click)="togglePasswordVisible()"
      >
        <svg
          class="svg-icon"
          width="20"
          height="20"
          aria-hidden="true"
        >
          <use href="/assets/svg/icons.svg#eye" />
        </svg>
      </button>
    </div>
  </div>

  <button
    class="btn"
    type="submit"
  >
    {{ 'T_ACTION.LOGIN' | translate }}
  </button>
</form>

<img
  class="login-page__logo"
  src="/assets/svg/logo-big.svg"
  width="440"
  height="432"
  [alt]="'T_LOGIN_PAGE.LOGO' | translate"
/>
