@use "app/styles/layers";
@use "app/styles/fonts";
@use "app/styles/reset";
@use "app/styles/margins";
@use "app/styles/components";

:root {
  --dark-color: hsla(0, 0%, 0%, 1);
  --dark-active-color: hsla(0, 0%, 9%, 1);
  --light-color: hsla(0, 0%, 100%, 1);
  --light-color-075: hsla(0, 0%, 100%, 0.75);
  --primary-color: hsla(263, 100%, 74%, 1);
  --primary-green-color: hsla(134, 65%, 75%, 1);
  --primary-red-color: hsla(0, 65%, 75%, 1);
}

body {
  min-height: 100dvh;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--light-color);
  background-color: var(--dark-color);
  background-image: url("/assets/images/background-1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
