@use "app/styles/fonts";
@use "app/styles/components";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --primary-color: #AE7AFF;
}

html {
  display: flex;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--light-color);
  background-color: var(--dark-color);
  background-image: url("/assets/images/background-1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


